/**************************************************
	COMMENT STYLE FILE

	AUTHOR	: DOTI
	FILE	: /fine_home/comment/style.css
	NOTE	: 댓글 공통 / 나의 댓글 페이지 기본 스타일

 **************************************************/

